<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body style="background-color: #f3f3f3;">

    <!--  <div  layout:fragment="content" class="container mySpace"> -->
    
     <div  layout:fragment="content">

<div class="fullbodycontainer">
		<div class="bodycontainer">
			<div class="bodywrapper">
			
			
			
			
			
					    
					<div class="main1">
						<div class="tenderbox">

							<p class="body_header">Add Department</p>
								<!--/////////////////////////-->
							
								<div class="white_area boxwhite">
										<form class="contact-us-form">
											
											<input type="text" name="contact-us-name" class="element contact-data contact-textbox zonun_text fwidth" placeholder="Department Name">

											<!--  -->
											<!-- Change made below -->
											<label>Department Color (Choose, Color theme for Department)</label>
											<input type="color" value="#f0f5f5" name="contact-us-subject" class=" element contact-data contact-textbox zonun_text fwidth" placeholder="Department Color (Please, Color theme for Department)" id="myColor" style="padding-left: 0px;">

											<!-- end of change -->
											<span>
												<select class="contact-data contact-textbox zonun_text fwidth">
													<option value="1">Select Department User</option>
													<option value="2">2</option>
												</select>
											</span>

											<input type="submit" name="contact-us-submit" value="Add Department" class="element elbutton">
										</form>
								</div>
					
				</div>
						</div>
						
						
						
						
						
						
			</div>
		</div>
	</div>





</div>

</body>
</html>