<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body style="background-color: #f3f3f3;">

    <!--  <div  layout:fragment="content" class="container mySpace"> -->
    
     <div  layout:fragment="content">

<div class="fullbodycontainer">
		<div class="bodycontainer">
			<div class="bodywrapper">
			
			
			
			
			
					    
<div class="main1">
						<div class="tenderbox">

							<p class="body_header">Add Department User</p>
								<!--/////////////////////////-->
							
								<div class="white_area boxwhite">
										<form class="contact-us-form">
											
											<input type="text" name="contact-us-name" class="element contact-data contact-textbox zonun_text fwidth" placeholder="Full Name">
											<input type="text" name="contact-us-subject" class=" element contact-data contact-textbox zonun_text fwidth" placeholder="Username : Super" readonly>
											<input type="text" name="contact-us-name" class="element contact-data contact-textbox zonun_text fwidth" placeholder="Email">
											<input type="text" name="contact-us-name" class="element contact-data contact-textbox zonun_text fwidth" placeholder="Phone Number">
											<input type="password" name="pass" placeholder="Password"  class="modal-textbox text-ar varbb" >
											<input type="password" name="pass" placeholder="Repeat Password"  class="modal-textbox text-ar varbb" >
											<input type="text" name="pass" placeholder="Designation"  class="modal-textbox text-ar varbb" >
											<textarea name="contact-us-message" rows="10" cols="43" class="element contact-data zonun_textarea fwidth" placeholder="Address"></textarea>

											 <span>
												<select class="contact-data contact-textbox zonun_text fwidth">
													<option value="1">District</option>
													<option value="2">01 Aizawl</option>
													<option value="3">02 Lunglei</option>
													<option value="4">03 Aizawl</option>
												</select>
											</span>
											<span>
												<select class="contact-data contact-textbox zonun_text fwidth">
													<option value="1">Select Department</option>
													<option value="2">ICT</option>
													<option value="3">PWD</option>
													
												</select>
											</span>
							 				<!-- newly added ends here -->
											<input type="submit" name="contact-us-submit" value="Add Tender" class="element elbutton">
										</form>
								</div>
					
				</div>
						</div>
						
						
						
						
						
						
			</div>
		</div>
	</div>





</div>

</body>
</html>