<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body style="background-color: #f3f3f3;">

    <!--  <div  layout:fragment="content" class="container mySpace"> -->
    
     <div  layout:fragment="content">

<div class="fullbodycontainer">
		<div class="bodycontainer">
			<div class="bodywrapper error-wrapper">

			<div class="erro-con">
					<span class="welcome">OPPS! Content not found<br> <span>Please click <a href="index.html" class="h_error"> Home </a> to go back.</span></span>
			</div>
			<img src="images/error.svg" class="error-page">
				
			</div>
		</div>
	</div>



</div>

</body>
</html>