<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body style="background-color: #f3f3f3;">

    <!--  <div  layout:fragment="content" class="container mySpace"> -->
    
     <div  layout:fragment="content">

<div class="fullbodycontainer">
		<div class="bodycontainer container">
			<div class="bodywrapper">
					    
		<!-- Form Content-->
			<div class="form-container">
			
			<h4> Password Change Successfully</h4>
			
			
</div>
</div>
</div>
</div>
</div>

</body>
</html>