<div th:fragment="footer">

   <!-- <p class="text text-center">
     &copy; 2019 MSeGS
   </p> -->
  
		
		<!-- <div class="line"></div> -->
		
		
	
		
		<div style="background-color: #f3f3f3;">
		
		
		
		<footer>

			<div class="fullbodycontainer footercont">
			
					
								
						
						<div class="bodywrapper">
			<div class="footer">
				<ul>
					<li class="footer-images2"><a href="https://india.gov.in" target="_blank"><img th:src="@{/images/india.png}"></a></li>
					<li class="footer-images2"><a href="https://www.nvsp.in/" target="_blank"><img th:src="@{/images/osv2.png}"></a></li>
					<li class="footer-images2"><a href="https://deity.gov.in/" target="_blank"><img th:src="@{/images/deity.png}"></a></li>
					<li class="footer-images2"><a href="https://digitalindia.gov.in/" target="_blank"><img th:src="@{/images/digital.png}"></a></li>
					<li class="footer-images2"><a href="https://www.mygov.in/" target="_blank"><img th:src="@{/images/mygov.png}"></a></li>
					<li class="footer-images2"><a href="https://negp.gov.in/" target="_blank"><img th:src="@{/images/nep.png}"></a></li>
					<li class="footer-images2"><a href="https://mizoram.gov.in/" target="_blank"><img th:src="@{/images/mizo.png}"></a></li>
					<li class="footer-images2"><a href="https://mizoramtenders.gov.in/nicgep/app" target="_blank"><img th:src="@{/images/epro.png}"></a></li>
				</ul>
				</div><br>
		</div>
					
					
				<div class="bodywrapper footer-a">
					<a href="">Home</a>
					<a href="">Department Registration</a>
					<a href="">Supplier Registration</a>
					<a href="">Contact Us</a>
					<a href="">Feedback</a>
					<br><br>
					<div class="msegs">
						<p>Crafted with care by <a href="https://msegs.mizoram.gov.in/" target="_blank"> Mizoram State e-Governance Society (MSeGS)</a></p>
					</div>
			</div>
	
			
				<div class="bodywrapper footer-b ">
					<img th:src="@{/images/footerlinelong.jpg}" class="line-close">
					
					<!-- <svg  xmlns="http://www.w3.org/2000/svg" th:utext="@{/images/Chakra.svg}"> </svg> -->
					
					<!-- <object type="svg" tabindex="-1" role="img" th:data="@{images/Chakra.svg}" width="127" aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada"></object>
                      -->  
					<img th:src="@{/images/footerlinelong.jpg}" class="line-close">
				</div>
			</div>
		</footer>
		<br><br>
		<br><br>
		
		</div>